<div class="gallery-container">
    <h1 class="gallery-title">Our Work</h1>
    <div class="gallery-grid">
        {{#each this.paginatedImages as |image|}}
            <button class="gallery-item" type="button" {{on "click" (fn this.showImage image)}}>
                <img src={{image.url}} alt={{image.title}} loading="lazy">
                <div class="gallery-item-overlay">
                    <span>{{image.title}}</span>
                    <p>{{image.description}}</p>
                </div>
            </button>
        {{/each}}
    </div>

    <div class="gallery-navigation">
        {{#if this.hasMoreImages}}
            <button 
                type="button"
                class="nav-btn next-btn" 
                {{on "click" this.nextPage}}
            >
                View More <i class="fas fa-arrow-down"></i>
            </button>
        {{else if this.canShowLess}}
            <button 
                type="button"
                class="nav-btn prev-btn" 
                {{on "click" this.showLess}}
            >
                View Less <i class="fas fa-arrow-up"></i>
            </button>
        {{/if}}
    </div>

    {{#if this.selectedImage}}
        <button class="gallery-modal {{if this.isModalOpen 'active'}}" type="button" {{on "click" this.closeModal}}>
            <img src={{this.selectedImage.url}} alt={{this.selectedImage.title}}>
            <div class="modal-caption">
                <span>{{this.selectedImage.title}}</span>
                <p>{{this.selectedImage.description}}</p>
            </div>
        </button>
    {{/if}}
</div>



